<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=planet.name%></title>
</head>
<body>
    <header><%=planet.name%></header>
    <h2>Planet Environment: <%=planet.environment%></h2>
    <h2>Planet Inhabitants: <%=planet.lifeforms%></h2>
    <h2>Liquid Water Confirmed: <%=planet.water%></h2>
    <h2>Planet is in the habitable(Goldilocks) zone: <%=planet.habitable%></h2>
</body>
</html>