<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=planet.name%></title>
</head>
<body>
    <header><%=planet.name%>
        <form action="/exoplanets/<%=planet._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE"/>
     </form>
     <a href="/exoplanets/<%=planet._id%>/edit"><button>EDIT</button></a>
    </header>
    <h2>Planet Environment: <%=planet.environment%></h2>
    <h2>Planet Lifeforms: <%=planet.lifeforms%></h2>
    <h2>Liquid Water: <%=planet.water%></h2>
    <h2>Habitable (Goldilocks) zone: <%=planet.habitable%></h2>
</body>
</html>